<h1>Edit @list.title </h1>

<%= render partial: "layouts/errors", locals: { object: @list } %>

<%= form_for @list, url: user_list_path(current_user.url, @list) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.submit "Submit" %>
<% end %>
