<h3>
  <div class="top-links">
    <%= link_to "All Lists", user_lists_path %> |
    <%= link_to "Archived Lists", user_archived_lists_path %>
  </div>
</h3>

<h1><%= @current_list.title %></h1>
<h4>Status: <%= @current_list.status %></h4>
<h3><%= link_to "Add Task", new_user_list_task_path(current_user.url, @current_list) %>
  |
  <%= link_to "Completed Tasks", user_list_completed_tasks_path(current_user.url, @current_list) %></h3>
<%= button_to "Edit", edit_user_list_path(current_user.url, @current_list), method: :get, class: "btn btn-default" %>


<% if @current_list.status == "unarchived" %>
  <%= button_to "Archive", archived_user_list_path(current_user.url, @current_list), method: :patch, confirm: "Archive this list?", class: "btn btn-default" %>
<% else %>
  <%= button_to "Unarchive", unarchived_user_list_path(current_user.url, @current_list), method: :patch, confirm: "Unarchive this list?", class: "btn btn-default" %>
  <%= button_to "Delete", user_list_path(current_user.url, @current_list), method: :delete, confirm: "Delete this list?", class: "btn btn-default" %>
<% end %>

<h3>
  Incomplete Tasks:
</h3>

<h4>
  <% @current_list.tasks.where(status: 0).map do |task| %>
    <%= link_to task.title, user_list_task_path(current_user.url, @current_list, task) %>
  <% end %>
</h4>