<nav class="navbar navbar-default header-nav">
  <div class="container">
    <% if current_user %>
      <%= current_user.username %> |
      <%= link_to "All Lists", user_lists_path(current_user.url) %> |
      <%= link_to "Logout", logout_path, method: :delete %>
      <br/>
      API Token: <%= current_user.token %>
    <% else %>
      <%= link_to "Login", login_path %> |
      <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
</nav>